# Build directories
/build
/dist

# IDE
/.vscode

# Python
*.pyc
__pycache__/
*.egg-info/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
.pixi

# Testing
.pytest_cache/
.coverage
htmlcov/

*.conda
.build/

*.locks
pixi.lock
/.build
