[workspace]
authors = [
    "Alexis Placet <alexis.placet@quantstack.net>",
    "Johan Mabille <johan.mabille@quantstack.net>",
]
name = "sparrow-rockfinch"
version = "0.1.0"
description = "High-performance Arrow array library for Python with zero-copy data exchange"
license = "Apache-2.0"
readme = "README.md"
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "osx-64", "win-64"]
preview = ["pixi-build"]

[package]
name = "sparrow_rockfinch"
version = "0.1.0"

[package.build.backend]
channels = [
    "https://prefix.dev/pixi-build-backends",
    "https://prefix.dev/conda-forge",
]
name = "pixi-build-cmake"
version = "*"

[dependencies]
python = "*"
sparrow_rockfinch = { path = "." }

[package.build.config]
extra-args = ["-DCMAKE_BUILD_TYPE=Release -DFETCH_DEPENDENCIES_WITH_CMAKE=OFF"]

[package.build-dependencies]
cmake = ">=4.0"
ninja = ">=1.13"

[package.host-dependencies]
nanobind = "2.4.*"
sparrow = ">=2.0.0"
sparrow-devel = ">=2.0.0"

# [tasks.build]
# cmd = ["cmake", "--build", ".build"]
# depends-on = ["configure"]
# inputs = ["CMakeLists.txt", "src/*"]

[feature.test.tasks.test_cpp]
cmd = "ctest --test-dir .build --output-on-failure"
depends-on = ["build"]
inputs = ["CMakeLists.txt", "src/*"]

[feature.test.tasks.test_python]
cmd = "pytest test/test_sparrow_integration.py -v"
depends-on = ["build"]
inputs = ["CMakeLists.txt", "src/*"]

[feature.test.tasks.test]
depends-on = ["test_cpp", "test_python"]

[feature.build.tasks.configure]
# Configures CMake
cmd = [
    "cmake",
    # Use the cross-platform Ninja generator
    "-GNinja",
    # The source is in the root directory
    "-S.",
    # We wanna build in the .build directory
    "-B.build",
]

inputs = ["CMakeLists.txt"]
outputs = [".build/CMakeFiles/"]

# Build the executable but make sure CMake is configured first.
[feature.build.tasks.build]
cmd = ["cmake", "--build", ".build"]
depends-on = ["configure"]
inputs = ["CMakeLists.txt", "src/*"]

[feature.test.dependencies]
pytest = ">=7.0"
polars = ">=0.20"
pyarrow = ">=14.0"
doctest = ">=2.4"

[feature.dev.dependencies]
clang-format = "*"
clang-tools = "*"
python-build = "*"
twine = "*"

[feature.dev.tasks]
build-wheel = "unset CMAKE_ARGS && python -m build --wheel"
build-sdist = "unset CMAKE_ARGS && python -m build --sdist"

[feature.docs.dependencies]
doxygen = "*"
sphinx = "*"

[environments]
default = { features = ["build",], solve-group = "default" }
dev = { features = ["build", "test", "dev"], solve-group = "default" }
docs = { features = ["docs"], solve-group = "default" }
