name: Linux build and test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

defaults:
  run:
    shell: bash -l -eo pipefail {0}

jobs:
  linux_test_with_pixi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: false

      - name: Build project
        run: pixi build

      - name: Run C++ tests
        run: pixi run test_cpp

      - name: Run Python tests
        run: pixi run test_python

      - name: Run integration tests
        run: pixi run test_integration