name: Windows build and test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

defaults:
  run:
    shell: bash -e -l {0}

jobs:
  windows_test_with_pixi:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: latest
          cache: true

      - name: Build project
        run: pixi run -e dev build

      - name: Run C++ tests
        run: pixi run -e dev test_cpp

      - name: Run Python tests
        run: pixi run -e dev test_python

      - name: Run integration tests
        run: pixi run -e dev test_integration
